.content {
    margin-right: 50px;
    width: 75%;
}

.go {
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--colorMain);
    border-radius: 4px;
    line-height: 1.8;
    font-size: 1.4rem;
    z-index: 100;
    transition: background 0.5s;
    display: none;
}

.go:hover {
    background-color: var(--colorB);
}

.name-article {
    border-bottom: 1px dotted #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.path {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.content .path a:first-child {
    color: var(--entertainment);
}

.content .path a:hover,
.heading .news-right a:hover,
.rc-article > a:not(:first-child):hover,
.view a:hover {
    opacity: 0.6;
}

.content .path i {
    margin: 0 10px;
    font-size: 0.9rem;
}

.heading h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.writer {
    font-size: 1rem;
}

.writer > p:first-child {
    color: var(--colorMain);
    font-weight: 500;
}

.writer > p:last-child {
    margin-left: 120px;
}

.heading .news-left p {
    margin-bottom: 20px;
}

.action ul li {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.action ul li i {
    color: #73726e;
}

.heading .news-right a {
    padding: 10px 15px;
    border-radius: 30px;
    width: 80%;
    margin: 25px 20px;
    border: 1px solid var(--colorMain);
    background-color: var(--colorMain);
}

.heading .news-right i {
    margin-right: 15px;
    margin-left: 8px;
    margin-bottom: 3px;
}

.heading .news-right p {
    margin-left: 0;
}

.action ul li a {
    display: block;
}

.action a:hover i {
    color: var(--colorW);
}

.action li:nth-child(2):hover {
    background: linear-gradient(to bottom, #00B2FF, #006AFF);
    border-color: linear-gradient(to bottom, #00B2FF, #006AFF);
}

.text,
.rc-article {
    line-height: 1.7;
}

section.main {
    align-items: flex-start;
}

.text h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.ar-more {
    display: none;
}

.button {
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 16px;
    border: 2px solid var(--colorMain);
    margin-bottom: 20px;
    line-height: 1.8;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    right: 50%;
    bottom: -1px;
    opacity: 0;
    background-color: var(--colorMain);
    border-radius: 16px;
    border: 2px solid var(--colorMain);
    transition: all .5s ease;
}

.button:hover::before {
    left: -2px;
    right: -2px;
    opacity: 1;
    z-index: -1;
}

.button p {
    text-transform: uppercase;
    color: var(--colorMain);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.button:hover p {
    color: var(--colorW);
}

.img-content {
    width: 65%;
    margin: 0 auto;
}

.img-content img,
.caption,
.content .banner-img img,
.content .tb-right {
    border-radius: 16px;
}

.caption {
    background: #f2f2f2;
    padding: 10px;
    width: 65%;
    margin: 0 auto;
    font-size: 0.9rem !important;
}

.rc {
    width: 25%;
    margin-top: 150px;
}

.rc .path h1 {
    color: var(--colorMain);
    font-size: 1.1rem;
}

.water > a h1 {
    font-size: 2rem;
}

.water a:nth-child(1) h1,
.water a:nth-child(2) h1 {
    margin-left: 80px;
}

.water .sports:nth-child(1) h1,
.water .sports:nth-child(2) h1 {
    margin-left: 65px;
}

.water .entertainment:nth-child(1) h1,
.water .entertainment:nth-child(2) h1 {
    margin-left: 50px;
}

.water .another:nth-child(1) h1,
.water .another:nth-child(2) h1 {
    margin-left: 130px;
}

.path .read-more a {
    font-size: 0.9rem;
}

.path .read-more i {
    font-size: 0.8rem;
}

.rc-article {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.rc-article > a:first-child img {
    padding-bottom: 10px;
    border-radius: 20px;
}

.view {
    padding-bottom: 5px;
}

@keyframes doimau {
    0% {
        background-color: var(--colorW);
    }
    20% {
        background-color: #ffbe76;
    }
    40% {
        background-color: #dff9fb;
    }
    60% {
        background-color: aquamarine;
    }
    80% {
        background-color: #F8EFBA;
    }
    100% {
        background-color: var(--colorW);
    }
}

.view h2 {
    background-color: var(--colorW);
    padding: 5px 13px;
    border-radius: 30px;
    font-size: 1rem;
    animation: doimau 2s infinite;
}

.rc-tech h2 {
    color: var(--tech);
}

.rc-sports h2 {
    color: var(--sports);
}

.rc-entertainment h2 {
    color: var(--entertainment);
}

.view a:nth-child(2) {
    margin-left: auto;
    align-items: center;
}

.view i {
    margin-right: 8px;
}

.rc-article > a > h2 {
    font-size: 1.1rem;
    padding-top: 5px;
}

.content > .action {
    border-bottom: 1px dotted #d9d9d9;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.content .name {
    font-size: 1.8rem;
}

.ads {
    margin: 80px 0 0 0;
}

.no-need > img {
    margin-top: 50px;
}